Code/*
Electron/*
GIMP/*
Kvantum/*
MangoHud/*
Nextcloud/*
QtProject.conf
RawTherapee/*
Signal/*
Thunar/*
Vampire_Survivors/*
Vampire_Survivors_11010205/*
Vampire_Survivors_Data/*
akonadi_contactrc
audacity/*
autostart/*
binwalk/*
bless/*
btop/*
chromium/*
corectrl/*
darktable/*
dconf/*
defaultcalendarrc
emaildefaults
emailidentities
enchant/*
environment.d/*
eventviewsrc
evolution/*
filezilla/*
geany/*
gedit/*
ghb/*
google-chrome/*
goverlay/*
gtk-2.0/*
gtk-3.0/*
gtk-4.0/*
guvcview2/*
kaddressbookrc
katerc
katevirc
kde.org/*
keepassxc/*
kmail2rc
kmailsearchindexingrc
kontact_summaryrc
kontactrc
korganizerrc
lapce-stable/*
leafpad/*
libfm/*
libreoffice/*
lite-xl/*
mimeapps.list
nitrogen/*
nixpkgs/*
nwg-bar/*
nwg-look/*
nvim/*
nvim.bak/*
okularpartrc
okularrc
onlyoffice/*
osmo/*
pcmanfm/*
phishingurlrc
pulse/*
qalculate/*
qt5ct/*
rustdesk/*
seergdb/*
sqlitebrowser/*
sublime-text/*
threema-web/*
whatsapp-for-linux/*
wireshark/*
wlogout/*
xarchiver/*
xdg-terminals.list
xfce4/*
xsettingsd/*
zed/*
