# ignore everything
*

# except:
!feh/
!feh/**
!fish/
!fish/**
!home-manager/
!home-manager/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!mako/
!mako/**
!myconfigs/
!myconfigs/**
!nix_files/
!nix_files/**
!waybar/
!waybar/**
!wofi/
!wofi/**
!wpaperd/
!wpaperd/**
!.gitignore
!README.md
