/** Basic config file **/

configuration {
    modi:               "window,drun,ssh,combi";
    show-icons:         true;
    icon-theme:         "Adapta-Nokto";
    combi-modi:         "drun,window";
    matching:           "fuzzy";
    sort:               true;
    terminal:           "xfce4-terminal";
    sorting-method:     "fzf";
    run-shell-command:  "{terminal} --exec '{cmd}'";
}
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
