@import url("./colors.css");

* {
    font-family: "NotoSans Nerd Font";
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background: @transparent;
    color: @foreground;
    border-radius: 10px;
}

tooltip {
    background: @background;
    opacity: 1.0;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @background-darker;
}

tooltip label{
    color: @purple;
}

button {
    background: @background;
    color: @foreground;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
}

button:hover {
    transition-duration: .1s;
    background: @pink;
}

#taskbar button.active {
    background: @purple;
}

#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @pink;
    border-radius: 20px;
}

#workspaces button.active {
    background: @purple;
}

#workspaces button.urgent {
    background: @red;
}

#custom-power_btn,
#custom-keepass,
#custom-chat,
#custom-power_btn,
#custom-vpn_temis,
#custom-vpn_bsi_ctf,
#window,
#taskbar,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#network,
#tray,
#temperature,
#workspaces,
#wireplumber,
#backlight {
    background: @background;
    opacity: 1.0;
    padding: 0 5px;
    margin: 2px 2px;
    border: 0px;
    border-radius: 10px;
}

#clock {
    padding-right: 10px;
}

#wireplumber {
    color: @blue;
}

#backlight {
    color: @orange;
}

#battery {
    color: @green;
}

#battery:hover,
#backlight:hover,
#wireplumber:hover,
#custom-power_btn:hover,
#custom-keepass:hover,
#custom-chat:hover,
#custom-power_btn:hover,
#custom-vpn_temis:hover,
#custom-vpn_bsi_ctf:hover,
*:hover{
    background: @pink;
    border-radius: 20px;
    color: @foreground;
}
