../*
../.*
../'Code - OSS'/*
!.gitignore
!.git/
!../obmenu-generator/*
../obmenu-generator/cache.db
../obmenu-generator/icons/
!../openbox/*
!../polybar/*
!../rofi/*
!../shutdown_dialog.sh
!../picom.conf
!../README.md
